# Ignore tools
/bin

# Ignore coverprofiles
*.coverprofile
*.tmp
.idea

# Ignore model files
*.zip
rl_agent/rl_agent/model/ppo.zip

# Ignore local deployment data
deployment-data/

# Ignore generated protobuf Go files
protobufs/*.pb.go
