# Ignore tools
/bin

# Ignore coverprofiles
*.coverprofile
*.tmp
.idea

# Ignore model files
rl_agent/rl_agent/model/ppo.zip

# Ignore python virtual environment
rl_agent/env/

# Ignore local deployment data
deployment-data/

# Ignore generated protobuf Go files
protobufs/*.pb.go
